__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.env
experimental/
data/accounts.json
data/users.json
data/caught_revomon_scan_state.json
data/caught_revomon.json
data/*.db
data/assets/*
!data/assets/fonts/
logs/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.vscode/
.claude

